  <div id="nav-placeholder"></div>
        <div id="about" class="about">
            
            <h1>About FRAP</h1>
            <h2><strong>Empowering Users in the Fight Against Fraud</strong></h2>
            <p>FRAP is a cutting-edge application designed to tackle the ever-evolving challenge of fraud. Our platform is a user-driven hub for fraud detection and prevention, providing both real-time alerts and historical insights into fraudulent activities.</p>
            
            <h3>Key Features:</h3>
            <ul>
                <li><strong>Crowd-Sourced Fraud Database:</strong> Leveraging the power of community, our app offers a comprehensive, continuously updated database of fraud instances, sourced from users worldwide.</li>
                <li><strong>Real-Time Fraud Reporting:</strong> Stay ahead of fraudsters with our real-time reporting feature. This enables immediate sharing and receiving of alerts about potential fraudulent activities.</li>
                <li><strong>Historical Records:</strong> Knowledge is power. We provide access to aggregated historical fraud records from various sources, allowing users to spot trends and protect themselves against recurrent scams.</li>
            </ul>
            <br>
            <hr>
            <br>
           
            <h3>Meet Our Team:</h3>
            <div class="team-member">
                <img src="../Images/vaiva.jpg" alt="Image of Robert Schneider">
                <p><strong>Vaiva Vitten: Our database wizard. Vaiva's expertise lies in managing and optimizing the extensive fraud database, ensuring accuracy, and reliability in the data we provide.</strong></p>
            </div>
            <div class="team-member">
                <img src="../Images/robert.jpeg" alt="Image of Robert Schneider">
                <p><strong>Robert Schneider: A key part of our operation. Robert works tirelessly on the back-end development, ensuring our app runs smoothly and securely.</strong></p>
            </div>
            <div class="team-member">
                <img src="../Images/stephen.jpeg" alt="Image of Stephen Miller">
                <p><strong>Stephen Miller: Integral to our team's success. Stephen contributes significantly to back-end development, focusing on efficiency and performance.</strong></p>
            </div>
            <div class="team-member">
                <img src="../Images/pavel.jpg" alt="Image of Pavlo Lashmanov">
                <p><strong>Pavel Lashmanov: The architect of our user experience. Pavlo spearheads the front-end development, crafting an intuitive and user-friendly interface for our app.</strong></p>
            </div>
            <br>
            <p>Together, we are committed to making the digital world a safer place by equipping individuals and organizations with the tools to identify and protect against fraudulent activities.</p>
            <p>Join us in our mission. With FRAP, you're not just using an app; you're taking a stand against fraud.</p>
        
        </div>
            <script src="js/common.js"></script>