   <div class="contact-us">
            <h1>Contact Us</h1>

            <ul>
                <li><a href="mailto">Vaiva Vitten</a></li>
                <li><a href="mailto">Stephen Miller</a></li>
                <li><a href="mailto">Robert Schneider</a></li>
                <li><a href="mailto">Pavlo Lashmanov</a></li>
            </ul>
        </div>