
    <div class="contact-us">
            <h2>Contact Us</h2>

            <ul>
                <li><a href="mailto:vaiva@email.com" target="_blank">Vaiva Vitten</a></li>
                <li><a href="mailto:stephen@email.com" target="_blank">Stephen Miller</a></li>
                <li><a href="mailto:robert@email.com" target="_blank">Robert Schneider</a></li>
                <li><a href="mailto:pavlo@email.com" target="_blank">Pavlo Lashmanov</a></li>
            </ul>
        </div>
  