
    <div class="contact-us">
            <h2>Contact Us</h2>

            <ul>
                <li><a href="mailto:vaiva@email.com">Vaiva Vitten</a></li>
                <li><a href="mailto:stephen@email.com">Stephen Miller</a></li>
                <li><a href="mailto:robert@email.com">Robert Schneider</a></li>
                <li><a href="mailto:pavlo@email.com">Pavlo Lashmanov</a></li>
            </ul>
        </div>
  