<h1>Submit a file to detect fraud</h1>
<div>
    <form id="search-bar" action="/detect/submit-detect" enctype="multipart/form-data" method="post">
        <label for="detectFile"></label>
        <input id="detectFile" type="file" class="form-control-file" name="uploaded_file">
        <button class="button" type="submit" id="search-button">Detect Fraud in File</button>
    </form>
</div>
