  <section>
            <div id="home">
                <h1>Welcome to FRAP</h1>
                <h3>Understanding the Issue</h3>
                <p>In an age where digital transactions are commonplace, the United States faces an ever-increasing wave of fraudulent activities. From identity theft to financial scams, fraudsters continually evolve their tactics, exploiting vulnerabilities in technology and human trust. The statistics are alarming - millions of Americans fall victim to fraud each year, resulting in significant financial losses and emotional distress.</p>
        
               
                <h3>Our Solution: FRAP</h3>
                <p>At FRAP, we understand the magnitude of this challenge and are dedicated to turning the tide against fraud. Our innovative app is designed to empower individuals and organizations across the USA with the tools and information they need to detect, prevent, and combat fraud.</p>
        
                <h3>How FRAP can help:</h3>
                <ul>
                    <li><strong>Crowd-Sourced Intelligence:</strong> By harnessing the power of community vigilance, our app offers a dynamic, real-time database of reported fraud incidents.</li>
                    <li><strong>Real-Time Alerts:</strong> Stay informed and one step ahead. Our app provides immediate notifications about new and ongoing fraudulent schemes.</li>
                    <li><strong>Historical Insights:</strong> Understanding past fraud trends is crucial in predicting and preventing future ones.FRAP offers access to a rich repository of historical fraud data, aggregated from various sources.</li>
                    <li><strong>User-Friendly Interface:</strong> Designed with simplicity and efficiency in mind, our app ensures that staying informed about fraud doesn't have to be a complex task.</li>
                </ul>
        
                <h3>Join The Mission</h3>
                <p>Together, we can make a significant impact in the fight against fraud. FRAP is more than just an app - it's a movement towards creating a safer, more secure digital environment in the USA. Be a part of this change. Stay vigilant, stay informed, and help us in building a community where integrity and security prevail.</p>
            </div>
        </section>