 <section id="login">
            <h1>Log In</h1>
            <div class="login-form">
                <form id="loginForm">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" id="login-btn" class="button">Log In</button>
                </form>
            </div>
            <br>
            <br>
        <p id="error-message"></p>
        </section>