  <h1>Fraudster Lookup</h1>
    <form id="search-bar">
        <select id="search-criteria">
            <option value="EIN" id="look-ein" name="ein">EIN</option>
            <option value="ITIN" id="look-tin" name="tin">ITIN</option>
            <option value="SSN" id="look-ssn" name="ssn">SSN</option>
            <option value="name" id="look-name" name="name">Name</option>
            <option value="email" id="look-email" name="email">Email</option>
            <option value="phone" id="look-phone" name="phone">Phone</option>
            </select>
        <input type="text" id="search-query" placeholder="Enter a search query">
        <button class="button" type="submit" id="search-button">Search Fraudster Database</button>
    </form>
    <script src="/js/lookup.js"></script>