 <section id="registration">
        <h1>Registration</h1>
        <form id="registrationForm">
            <div class="input-group required">
                <label for="reg-firstName" >First Name</label>
                <input type="text" id="reg-firstName" name="firstName" required placeholder="Jane">
            </div>
            <br>
            <div class="input-group required">
                <label for="reg-lastName" >Last Name</label>
                <input type="text" id="reg-lastName" name="lastName" required placeholder="Smith">
            </div>
            <br>
            <div class="input-group required">
                <label for="reg-email">Email</label>
                <input type="email" id="reg-email" name="email" required placeholder="jsmith@gmail.com">
            </div>
            <br>
            <div class="input-group required">
                <label for="company-name">Company Name</label>
                <input type="text" id="company-name" name="company" required placeholder="My Company">
            </div>
            <br>
            <div class="input-group required">
                <label for="reg-phoneNumber" >Phone Number</label>
                <input type="tel" id="reg-phoneNumber" name="phoneNumber" required placeholder="(808)-555-5588">
            </div>
            <br>
            <div class="input-group">
                <label for="reg-notificationEnabled">Enable Notifications</label>
                <input type="checkbox" id="reg-notificationEnabled" name="notificationEnabled">
            </div>
            
            <br>
            <div class = "input-group required">
                <label for="reg-password">Desired Password</label>
                <input type="password" id="reg-password" name="password" required>
            </div>
            <br>
            <div class = "input-group required">
                <label for="reg-confirm-password">Confirm Password</label>
                <input type="password" id="reg-confirm-password" name="confirm-password" required>
            </div>
            <br>
            <button type="submit" id="reg-submit" class="button">Register</button>
        </form>
        <br>
        <p id="error-message"></p>
    </section>