<div class="submit-review-container">
    <h2>Submit Your Review</h2>
    <form action="/reviews/submit-review" method="POST">
        <div class="review-group">
            <label for="nickName">Nickname:</label>
            <input type="text" id="nickName" name="nickName" required>
        </div>
        <div class="review-group">
            <label for="reviewBody">Review:</label>
            <textarea id="reviewBody" name="body" required></textarea>
        </div>
        <button class="button" type="submit">Submit Review</button>
    </form>
</div>