* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body and header */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #1b1b1b;
    color: #f5f5f5;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navigation menu */
nav {
    margin:auto 25px;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    color: #f5f5f5;
    text-decoration: none;
}
.nav-item a:visited{
    color:#f5f5f5;
}

/* login form */
.login-form {
    display: flex;
    align-items: center;
    margin-right:25px
}

.login-form form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input-group label {
    color: #f5f5f5;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    padding: 4px;
    border: 1.5px solid #d8d8d8;
    border-radius: 5px;
    width: auto; 
    
}

.login-form button {
    background-color: #1b1b1b;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border: 1px solid #d8d8d8;
}

.login-form button:hover {
    background-color: #3b3b3b;
}

/* About, Home, Contact Us */
section {
    text-align: center;
    padding: 2rem;
    background-color: #f5f5f5;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(136, 2, 2);
}

/* footer */
footer {
    text-align: center;
    background-color: #3b3b3b;
    color: #f5f5f5;
    padding: 1rem 0;
}

/*Registration Form */
.register {
    text-decoration: none;
    
}

#registration {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
   
}

#registration h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input #registration[type="text"],
.input-group input #registration[type="email"],
.input-group input #registration[type="tel"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    font-size: 16px;
}

#registration button[type="submit"] {
    background-color: #3b3b3b;
    color: #f5f5f5;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

#registration button[type="submit"]:hover {
    background-color: #555;
}

#reportFraud button[type="submit"] {
    background-color: blue;
    background-color: #0b61ca;
    color: #f5f5f5;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

p {
    font-size: 20px;
}
#reportFraud button[type="submit"]:hover {
    background-color: #f70c0c;
}

#reportFraud button[type="submit"]:active {
    padding: 10px 20px;
}


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}